<div class="row">
  <div class="col-12 clearfix poz" style="padding:0; margin: 0; color:#222; background-scolor:#01587E; border-bottom:2px solid rgb(180,0,20,0.45);">
    <nav class="breadcrumb" style="margin:0;background-color:transparent; padding: 0;">
      <small>
        <ol class="breadcrumb " style="margin:0;background-color:transparent;" itemscope=""
          itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="text-muted" style="color:#222;" itemtype="http://schema.org/Thing" itemprop="item" 
              href="https://www.glassrpske.com/cir">
              <span itemprop="name">Насловна</span>
            </a>
            <meta itemprop="position" content="1">
          </li>
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="text-muted" style="color:#222;"
            itemtype="http://schema.org/Thing"
            itemprop="item" href="https://www.glassrpske.com/cir/novosti">
              <span itemprop="name">Новости</span>
            </a>
            <meta itemprop="position" content="2">
          </li>
          <li class="breadcrumb-item active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="text-muted" style="color:#222" itemtype="http://schema.org/Thing" itemprop="item" href="https://www.glassrpske.com/cir/novosti/srbija">
              <span itemprop="name">Србија</span>
            </a>
            <meta itemprop="position" content="3">
          </li>
        </ol>
      </small>
    </nav>
  </div>
</div>
