<div id="<%= dom_id blog_post %>">
  <p>
    <strong>Title:</strong>
    <%= blog_post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= blog_post.body %>
  </p>

  <p>
    <strong>Publish at:</strong>
    <%= blog_post.publish_at %>
  </p>

</div>
